* {
    margin: 0;
    padding:0;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


html {
    font-size: 100%;
    font-family:"Noto Sans", sans-serif;
}

:focus {
    outline: #F25D07;
}

h1 {
    color: #A62F03;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 12px;
}

.submit {
    padding: 8px;
    color: white;
    background-color:#F27405 ;
}

.submit:hover{
   background-color: white;
   color: #F25D07;
}

select{
    border: white;
    border-radius: 10px;
    text-align: center;
}

input {
    text-align: center;
    padding: 2px;
    font-size: xx-large;
    border-radius: 20px;
    border: none;
    background-color: #99E9F2;
    stroke: none; 
    color: #F25D07;
    min-width: 5px;
    box-shadow: white 0px 1px 4px, white 0px 0px 0px 3px;
}

input:focus {
    color: #F27405;
    background-color: white ;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 20px; 
    margin: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-color:  #99E9F2;
    padding: 3rem;
}

.form-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.form-label{
    font-size: xx-large;
    color: white;
}

#operation{
    font-size: xx-large;
    color: white;
    background-color: #F27405;
}
#operation-result{
    font-size: 80px;
    color: #F25D07;
}